<h2>List of all  celebrities</h2>
<div id="celebrity-list-container">
    {{#each returnedCelebrities}}
    <div id="celebrity-card">
        <h4>{{name}}</h4>
        <p>Occupation: {{occupation}}</p>
        <p>Catch phrase: {{catchPhrase}}</p>
        {{!-- <a href="/drones/{{_id}}/edit">Update drone</a>
        <form method="POST" action="/drones/{{_id}}/delete">
            <button>Delete drone</button>
        </form> --}}
    </div>
    {{/each}}
</div>