<h2>Movie details</h2>
<div id="movie-card-container">
    <h4>{{foundMovie.title}}</h4>
    <h5>Genre: {{foundMovie.genre}}</h5>
    <h5>Plot summary: </h5>
    <p>{{foundMovie.plot}}</p>
    <h5>Cast:</h5>

{{!-- I can't check if this is working because of the initial problem 
in new movie form where I can't select cast members --}}
    <div id="celebrity-card">
        <ul>
            {{#each foundMovie.cast}}
                    <li>
                        {{name}}
                        <p>
                            Occupation:
                            {{occupation}}
                            Catch Phrase:
                            {{catchPhrase}}
                    
                        </p>
                    </li>
            {{/each}}
        </ul>
    </div>

    <form method="POST" action="/movies/{{foundMovie.id}}/delete">
        <button>Delete movie</button>
    </form>

</div>